.form-control {
    text-align: right;
    width: 100%;
}

.panel-left-right {
    display: block;

    .panel-left {
        flex: 1;
        margin: auto;
    }

    .panel-right {
        flex: 1;
        margin: auto;
    }
}

@media (min-width: 576px) {
    .form-control {
        width: 50%;
    }

    .panel-left-right {
        display: flex;

        .panel-right {
            text-align: right;
            text-align: -webkit-right;
        }
    }
}

@media (min-width: 1200px) {
    .form-control {
        width: 50%;
    }

    .panel-left-right {
        display: flex;

        .panel-right {
            text-align: right;
            text-align: -webkit-right;
        }
    }
}

::ng-deep {
    input {
        text-align: right;
    }
}
