<div class="panel-left-right" [formGroup]="taxAmountForm">
    <div class="panel-left">
        <p>2. Total VAT to be remitted (7% of 1.)</p>
    </div>

    <div class="panel-right">
        <mat-form-field class="example-form-field">
            <input matInput type="number" formControlName="taxAmount" [(ngModel)]="formService.totalVat"
                autocomplete="off" (ngModelChange)="onChange()">
        </mat-form-field>
        <div class="error"
            *ngIf="taxAmountForm.value.taxAmount < formService.minTotalVat || taxAmountForm.value.taxAmount > formService.maxTotalVat">
            Invalid Tax
        </div>
    </div>
</div>