<div class="mt-3 panel-left-right" [formGroup]="taxAmountForm">
    <div class="panel-left">
        <p>2. Total VAT to be remitted (7% of 1.)</p>
    </div>

    <div class="panel-right">
        <mat-form-field>
            <input matInput type="text" formControlName="taxAmount" [(ngModel)]="formService.totalVat"
                autocomplete="off" [appFormatFields]="COMMA" (ngModelChange)="onChange()">
        </mat-form-field>
        <div class="error"
            *ngIf="taxAmountForm.value.taxAmount != null && taxAmountForm.value.taxAmount < formService.minTotalVat || taxAmountForm.value.taxAmount > formService.maxTotalVat">
            Invalid Tax
        </div>
    </div>
</div>